<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandwich Maker</title>
</head>
<h1>Create Your Sandwich!</h1>
<body>
    <h1>Enter new engineer</h1>
    <form action="/post-engineer" method="post">  
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="bread" placeholder="Bread">
        <input type="text" name="cheese" placeholder="Cheese">
        <input type="text" name="meat" placeholder="Meat">
        <input type="text" name="sauce" placeholder="Sauce">
        <input type="text" name="toping" placeholder="Toping">
        <input type="text" name="anything" placeholder="Anything">
        <input type="Submit" value="Submit">
    </form>
    <table>
        <tr>
          <th>Name</th>
          <th>Bread</th>
          <th>Cheese</th>
          <th>Meat</th>
          <th>Sauce</th>
          <th>Toping</th>
          <th>Anything</th>
        </tr>
        {% for sandwich in sandwichs %}
        <tr>
            <td>{{sandwich["name"]}}</td>
            <td>{{sandwich["bread"]}}</td>
            <td>{{sandwich["cheese"]}}</td>
            <td>{{sandwich["meat"]}}</td>
            <td>{{sandwich["sauce"]}}</td>
            <td>{{sandwich["toping"]}}</td>
            <td>{{sandwich["anything"]}}</td>
            <td><a href="{{ '/edit/%s' %sandwich.rowid }}">Edit</a> |
                <a href="{{ '/delete-sandwich/%s' %sandwich.rowid }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>